  <!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/article.css" rel="stylesheet">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="/stylesheets/components/style.css">
        <link rel="stylesheet" type="" href="/stylesheets/components/editormd.css">
    </head>
    <body>
        <%- include("../common/header.ejs") %>
        <article>
            <div class="content">
                <header>
                    <h2>新增内容</h2>
                </header>
                <p><%= error %></p>
                <form method="post" class="create-container">
                    <div class="container-item">
                        <label class="title">文章类型</label>
                        <select class="head J_type">
                            <option value="1">前端</option>
                            <option value="2">文字</option>
                            <option value="3">心情</option>
                            <option value="4">瞎聊</option>
                        </select>
                    </div>
                    <div class="container-item">
                        <label class="title">标题</label>
                        <input type="text" name="title" value="" class="head J_title">
                    </div>
                    <div class="container-item">
                        <label class="title">内容</label>
                        <div id="text-content">
                        </div>
                    </div>
                    <div class="container-item center">
                        <button class="btn J_submit" type="button">提交</button>
                    </div>
                </form>
            </div>
        </article>
        <%- include("../common/footer.ejs") %>
    </body>
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/common/query.js"></script>

    <script src="/javascripts/lib/marked.min.js"></script>
    <script src="/javascripts/lib/prettify.min.js"></script>

    <script src="/javascripts/lib/raphael.min.js"></script>
    <script src="/javascripts/lib/underscore.min.js"></script>
    <script src="/javascripts/lib/sequence-diagram.min.js"></script>
    <script src="/javascripts/lib/flowchart.min.js"></script>
    <script src="/javascripts/lib/jquery.flowchart.min.js"></script>
    <script src="/javascripts/lib/editormd.js"></script>
    <script src="/javascripts/lib/ejs.min.js"></script>
    <script type="text/javascript">
        var textContent;
        var param = getParam('id');

        $(function() {
            textContent = editormd("text-content", {
                width           : "100%",
                height          : 500,
                htmlDecode      : "style,script,iframe", 
                tex             : true,
                emoji           : true,
                taskList        : true,
                flowChart       : true, 
                sequenceDiagram : true
            });

            $('.J_submit').click(function () {
                let content = textContent.getMarkdown();
                let title = $('.J_title').val();
                $.ajax({
                    url: '/article/create',
                    data: {
                        title: title,
                        content: content
                    },
                    type: 'POST',
                    success: (data) => {
                        if (data.code === 1) {
                            window.location.href = '/'
                            alert('成功')
                        } else {
                            alert(data.msg)
                        }
                    },
                    error: (error) => {
                        console.log(error)
                    }
                })
            })
        });

        // 修改文章内荣
        if (param !== undefined) {
          $.ajax({
            url: '/article/edit',
            type: 'POST',
            data: {
              id: param
            },
            success: (result) => {
              let data = result.body
              $('.J_title').val(data.title)
              console.log(data.content)
              var testEditormdView = editormd.markdownToHTML("text-content", {
                markdown        : data.content ,//+ "\r\n" + $("#append-test").text(),
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                tocm            : true,    // Using [TOCM]
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
              });
            },
            error: (error) => {
              console.log(error)
            }
          })
        }
    </script>
</html>