article {
    background: #f3f6f8;
    .content {
        width: 1200px;
        margin:  0 auto;
        padding: 50px 0;
        aside {
            float: left;
            width: 820px;
            margin: 0 40px;
            .form-container {
                width: 100%;
                box-sizing: border-box;
                .form-item {
                    background: #ffffff;
                    padding: 5px 30px 15px;
                    cursor: pointer;
                    margin-bottom: 40px;
                    h2 {
                        color: #dfdfdf;
                        .comment {
                            margin-left: 20px;
                            font-size: 14px;
                            color: #222222;
                        }
                      }
                    .content-item {
                        font-size: 14px;
                        margin: 5px;
                        p {
                            line-height: 1.5;
                        }
                    }
                    .message-item {
                        position: relative;
                        padding: 5px 15px;
                        border: 1px solid #f3f6f8;
                        margin-bottom: 5px;
                        box-sizing: border-box;
                        overflow: hidden;
                        .time {
                            position: absolute;
                            top:0;
                            left: 0;
                            display: inline-block;
                            width: 60px;
                            height: 100%;
                            border-radius: 0 0 5px 5px;
                            background: #dfdfdf;
                            font-size: 22px;
                            color: #ffffff;
                            text-align: center;
                            .up {
                                height: 49%;
                                width: 100%;
                                display: inline-block;
                                padding-top: 5px;
                                box-sizing: border-box;
                                padding-right: 10px;
                            }
                            .line {
                                border: 0;
                                height: 2px;
                                background-color: #ffffff;
                                width: 100%;
                                display: block;
                                transform:rotate(-45deg);
                                box-sizing: border-box;
                            }
                            .down {
                                height:50%;
                                width: 100%;
                                display: inline-block;
                                box-sizing: border-box;
                                padding-left: 10px;
                            }
                        }
                        .content-item {
                            margin-left: 60px;
                            line-height: 1.5;
                            p {
                                margin: 0;
                                margin-bottom: 5px;
                                font-size: 16px;
                                color: #dfdfdf;
                            }
                        }
                    }
                }
            }
        }
        nav {
            float: left;
            width: 300px;
            background: #f3f6f8;
            .material {
                 background: #fff;
                 padding: 15px 0;
                .title {
                    color: #ccc;
                    font-size: 16px;
                    padding: 0px 10px 10px;
                    text-align: center;
                }
                ul {
                    list-style: none;
                    padding: 5px  85px;
                    margin: 0;
                    box-sizing: border-box;
                    li {
                        font-size: 14px;
                        line-height: 1.8;
                        box-sizing: border-box;
                        a {
                            text-decoration: none;
                            color: #aaaaaa;
                        }
                    }
                 }
            }
            .margin {
                margin-top:10px;
            }
        }
    }

}

