body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
  color: #00B7FF;
}

nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid #eceff2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    .menu {
        width: 1200px;
        padding: 15px 0;
        margin: auto;
        overflow: hidden;
        box-sizing: border-box;
        .user-name {
            width: 120px;
            float: left;
            color: #aaaaaa;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: -4px;
        }
        .nav {
            float: left;
            span {
                color: #aaaaaa;
                font-size: 20px;
                list-style: none;
                padding: 15px 20px;
                a {
                    text-decoration: none;
                    color: #aaaaaa;
                    &:hover {
                        color: #777;
                    }
                }
            }
        }
    }
}

article {
    background: rgb(243, 246, 248);
    .content {
        width: 1200px;
        margin: auto;
        padding: 50px 0;
        overflow: hidden;
        box-sizing: border-box;
        footer {
            margin: 10px 0;
            padding: 0 15px;
            p {
                text-align: right;
                color: #00B7FF;
            }
        }
    }
}


footer {
    border-top: 1px solid #eceff2;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #bbb;
}

.dialog {
    position: fixed;
    width: 100%;
    min-height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    .dialog-container {
        width: 600px;
        margin: 8% auto;
        background: #ffffff;
        border-radius: 5px;
        padding: 25px 20px;
        box-sizing: border-box;
        .point {
            position: relative;
            font-size: 16px;
            color: #aaaaaa;
            padding: 0 0 8px 0;
            font-weight: bold;
        }
        .title {
           border-radius: 5px;
            width: 100%;
            display: block;
            margin: 10px 0;
            text-align: left;
            input {
                width:50%;
                border: 1px solid #dddddd;
                outline: none;
                line-height: 2;
                font-size: 13px;
                padding: 5px 10px;
                border-radius: 5px;
                box-sizing: border-box;
            }
        }
        .content {
            width: 100%;
            margin: 15px 0;
            textarea {
                width: 100%;
                border: 1px solid #dddddd;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
        .btn-container {
            text-align: center;
            span {
                display: inline-block;
                padding: 5px 15px;
                border-radius: 5px;
                border: 1px solid #8B1928;
                cursor: pointer;
                &:first-child {
                    margin-right: 20px;
                    color: #8B1928;
                }
                &:last-child {
                    background: #8B1928;
                    color: #ffffff;
                }
            }
        }
    }
}
