<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/about.css">
    </head>
    <body>
        <%- include("../common/header") %>
        <article>
            <div class="content">
                <aside>
                    <div class="form-container">
                        <div class="form-item">
                            <h2>## 关于我</h2>
                            <div class="content-item">
                                <p>世界很美，而我刚好出发</p>
                                <del>我就是我，不一样的烟火</del>
                                <p>山东财经大学 信息管理与信息系统专业毕业生。</p>
                            </div>
                        </div>
                        <div class="form-item">
                            <h2>## 关于</h2>
                            <div class="content-item">
                                <p>岁月流转，念念不忘，群碑未成，来日方长。-- 蔡康永  来自《纪念碑谷》</p>
                                <!--<p>《纪念碑谷》这是一个探索隐藏小路、发现视力错觉的游戏。基于埃舍尔的悖论空间，利用几何的原理，让人感觉视觉错差，构成矛盾空间。用有趣的空间错位感交织出了清新唯美的迷宫世界。界面很美，欢迎去了解。</p>-->
                            </div>
                        </div>
                        <div class="form-item">
                            <h2>## 关于背景音乐</h2>
                            <div class="content-item">
                                <p>《独家记忆》</p>
                            </div>
                        </div>
                    </div>
                </aside>
                <%- include("../common/nav") %>
            </div>
        </article>
        <%- include('../common/footer.ejs') %>
    </body>
</html>

<script src="/javascripts/lib/jquery.min.js"></script>
<script type="application/javascript">
</script>