<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/about.css">
    </head>
    <body>
        <%- include("../common/header") %>
        <article>
            <div class="content">
                <aside>
                    <div class="form-container">
                        <div class="form-item">
                            <h2>## 关于我</h2>
                            <div class="content-item">
                                <del>我就是我，不一样的烟火</del>
                            </div>
                        </div>
                    </div>
                </aside>
                <nav>
                    <div>
                        相关文章
                    </div>
                </nav>
            </div>
        </article>
        <%- include('../common/footer.ejs') %>
    </body>
</html>