<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/about.css">
    </head>
    <body>
        <%- include("../common/header") %>
        <article>
            <div class="content">
                <aside>
                    <div class="form-container">
                        <div class="form-item">
                            <h2>## 关于我</h2>
                            <div class="content-item">
                                <del>我就是我，不一样的烟火</del>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </aside>
                <nav>
                    <div class="material">
                        <div class="title">BLOG相关资料</div>
                         <ul>
                                <li><a href="http://nodejs.cn/" target="_BLANK">Node</a></li>
                                <li><a href="http://www.expressjs.com.cn/" target="_BLANK">Express</a></li>
                                <li><a href="http://www.embeddedjs.com/" target="_BLANK">EJS</a></li>
                                <li><a href="https://www.npmjs.com/" target="_BLANK">npm</a></li>
                                <li><a href="https://github.com/" target="_BLANK">GitHub</a></li>
                                <li><a href="http://pandao.github.io/editor.md/" target="_BLANK">Markdown</a></li>
                                <li><a href="https://babeljs.io/learn-es2015/" target="_BLANK">ES2015</a></li>
                         </ul>
                    </div>
                    <div class="material margin">
                        <div class="title">Something Interesting</div>
                         <ul>
                                <li><a href="http://gradient.awesomes.cn/" target="_BLANK">Gradient</a></li>
                                <li><a href="http://www.expressjs.com.cn/" target="_BLANK">Express</a></li>
                                <li><a href="http://www.embeddedjs.com/" target="_BLANK">EJS</a></li>
                                <li><a href="https://www.npmjs.com/" target="_BLANK">npm</a></li>
                                <li><a href="https://github.com/" target="_BLANK">GitHub</a></li>
                                <li><a href="http://nodejs.cn/" target="_BLANK">NODE</a></li>
                                <li><a href="http://nodejs.cn/" target="_BLANK">NODE</a></li>
                         </ul>
                    </div>
                </nav>
            </div>
        </article>
        <%- include('../common/footer.ejs') %>
    </body>
</html>