<aside>
    <div class="header">
        <img src="/images/display.jpg" alt="">
        <div class="intro">
            <p class="name">尹秀培</p>
            <p class="address">Shanghai, China</p>
        </div>
    </div>
    <div class="link">
        <div class="text">友情链接</div>
        <div class="link-container">
            <ul>
                <li><a href="https://blog.smilec.org" target="_BLANK">璨</a></li>
            </ul>
        </div>
    </div>
</aside>