<div class="dialog J_commontDialg">
    <div class="dialog-container">
        <div class="point">评论</div>
        <div class="title">
            <input type="text" class="J_title" placeholder="请您输入一个用户名">
        </div>
        <div class="content">
            <textarea type="" rows="5" class="J_content" placeholder="请输入评论内容"></textarea>
        </div>
        <div class="btn-container">
            <span class="J_onCancle">取消</span>
            <span class="J_onConfirm">确定</span>
        </div>
    </div>
</div>