<nav>
    <div class="menu">
        <div class="user-name">Scolleen</div>
        <div class="nav">
            <span><a href="/">Home</a></span>
            <span><a href="/users/about">About</a></span>
        </div>
    </div>
</nav>

