<nav>
    <div class="menu">
        <div class="user-name">Scolleen</div>
        <div class="nav">
            <span><a href="/">Home</a></span>
            <span><a href="/users/about">About</a></span>
        </div>
        <div class="setting">
            <div class="setting-container">
                <sapn class="setting-list">
                    <a href="/article/create">新增</a>
                </sapn>
                <span class="setting-list">
                    <a href="/users/login">退出</a>
                </span>
            </div>
        </div>
    </div>
</nav>

